<!--Doctype-->
<%= erb :"global/bloques/doctype" %>

<!--Head-->
<%= erb :"global/bloques/head" %>

<body>
<div class="page-wrapper">

  <!-- Preloader -->
  <div class="preloader"></div>

  <!-- Main Header -->
  <%= erb :"global/bloques/header" %>
  <!--End Main Header -->

  <!-- Main Slider -->
  <section class="main-slider">

    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>

          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/image-1.jpg" data-saveperformance="off" data-title="Your Lead Power">
            <img src="images/main-slider/image-1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

            <div class="tp-caption lfb tp-resizeme"
                 data-x="left" data-hoffset="350"
                 data-y="center" data-voffset="-130"
                 data-speed="1500"
                 data-start="500"
                 data-easing="easeOutExpo"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.01"
                 data-endelementdelay="0.3"
                 data-endspeed="1200"
                 data-endeasing="Power4.easeIn"
                 style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
              <div class="big-title"><h2>Fundada en la década de los 70 <br>en Monterrey, Nuevo León.</h2></div>
            </div>

            <div class="tp-caption lfb tp-resizeme"
                 data-x="left" data-hoffset="350"
                 data-y="center" data-voffset="0"
                 data-speed="1500"
                 data-start="1000"
                 data-easing="easeOutExpo"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.01"
                 data-endelementdelay="0.3"
                 data-endspeed="1200"
                 data-endeasing="Power4.easeIn"
                 style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
              <div class="slide-text"><p>Grupo
                Famsa se ha consolidado como una empresa pública con una sólida
                presencia en el sector minorista, enfocada<br> a satisfacer diversas
                necesidades de consumo, financiamiento y ahorro de las familias.</p></div>
            </div>

            <div class="tp-caption lfb tp-resizeme"
                 data-x="left" data-hoffset="350"
                 data-y="center" data-voffset="120"
                 data-speed="1500"
                 data-start="1500"
                 data-easing="easeOutExpo"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.01"
                 data-endelementdelay="0.3"
                 data-endspeed="1200"
                 data-endeasing="Power4.easeIn"
                 style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">

              <!--<div class="form-container">-->
              <!--<h4>CREATE YOUR MEETING</h4>-->
              <!--<form method="post" action="index.html">-->
              <!--<div class="form-group clearfix">-->

              <!--<div class="col-md-6 col-sm-12 col-sx-12">-->
              <!--<input class="email-addr" type="email" name="email" value="" placeholder="Enter your Email address" required>-->
              <!--</div>-->

              <!--<div class="col-md-6 col-sm-12 col-sx-12">-->
              <!--<input class="password" type="password" name="password" value="" placeholder="Enter your Password" required>-->
              <!--</div>-->

              <!--</div>-->

              <!--<button type="submit" name="submit"><span class="fa fa-angle-right"></span></button>-->
              <!--</form>-->
              <!--</div>-->

            </div>
            <div class="arrow bounce"> <i class="fa fa-angle-down"></i></div>
          </li>

          <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/image-2.jpg" data-saveperformance="off" data-title="Your Lead Power">
            <img src="images/main-slider/image-2.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

            <div class="tp-caption lfb tp-resizeme"
                 data-x="left" data-hoffset="15"
                 data-y="center" data-voffset="-60"
                 data-speed="1500"
                 data-start="500"
                 data-easing="easeOutExpo"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.01"
                 data-endelementdelay="0.3"
                 data-endspeed="1200"
                 data-endeasing="Power4.easeIn"
                 style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
              <div class="big-title"><h2>Modelo de negocio probado durante<br> 45 años de experiencia.</h2></div>
            </div>

            <div class="tp-caption lfb tp-resizeme"
                 data-x="left" data-hoffset="15"
                 data-y="center" data-voffset="50"
                 data-speed="1500"
                 data-start="1000"
                 data-easing="easeOutExpo"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.01"
                 data-endelementdelay="0.3"
                 data-endspeed="1200"
                 data-endeasing="Power4.easeIn"
                 style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">
              <div class="slide-text"><p>Nuestro modelo de negocio tiene su origen y
                está enfocado a la creación<br/> de valor a través
                de la satisfacción total de los clientes.</p></div>
            </div>
            <div class="arrow bounce"> <i class="fa fa-angle-down"></i></div>
            <!--<div class="tp-caption lfb tp-resizeme"-->
                 <!--data-x="left" data-hoffset="15"-->
                 <!--data-y="center" data-voffset="140"-->
                 <!--data-speed="1500"-->
                 <!--data-start="1500"-->
                 <!--data-easing="easeOutExpo"-->
                 <!--data-splitin="none"-->
                 <!--data-splitout="none"-->
                 <!--data-elementdelay="0.01"-->
                 <!--data-endelementdelay="0.3"-->
                 <!--data-endspeed="1200"-->
                 <!--data-endeasing="Power4.easeIn"-->
                 <!--style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">-->
              <!--<div class="links"><a href="#" class="default-btn orange hvr-bounce-to-right">Plan an event</a>-->
                <!--<a href="#" class="default-btn orange hvr-bounce-to-right">SET UP A BUSINESS MEETING</a></div>-->
            <!--</div>-->

          </li>

          <!--<li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/image-3.jpg"  data-saveperformance="off"  data-title="Your Lead Power">-->
          <!--<img src="images/main-slider/image-3.jpg"  alt=""  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">-->

          <!--<div class="tp-caption lfb tp-resizeme"-->
          <!--data-x="left" data-hoffset="15"-->
          <!--data-y="center" data-voffset="-100"-->
          <!--data-speed="1500"-->
          <!--data-start="500"-->
          <!--data-easing="easeOutExpo"-->
          <!--data-splitin="none"-->
          <!--data-splitout="none"-->
          <!--data-elementdelay="0.01"-->
          <!--data-endelementdelay="0.3"-->
          <!--data-endspeed="1200"-->
          <!--data-endeasing="Power4.easeIn"-->
          <!--style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="big-title color-grey"><h2>We plan, manage and create <br>the perfect event for you!</h2></div></div>-->

          <!--<div class="tp-caption lfb tp-resizeme"-->
          <!--data-x="left" data-hoffset="15"-->
          <!--data-y="center" data-voffset="50"-->
          <!--data-speed="1500"-->
          <!--data-start="1000"-->
          <!--data-easing="easeOutExpo"-->
          <!--data-splitin="none"-->
          <!--data-splitout="none"-->
          <!--data-elementdelay="0.01"-->
          <!--data-endelementdelay="0.3"-->
          <!--data-endspeed="1200"-->
          <!--data-endeasing="Power4.easeIn"-->
          <!--style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="slide-text color-grey"><p>We work with clients big and small across a range of sectors and we utilise all forms of media to get your name out <br>there in a way that’s right for you. We believe that analysis of your company and your customers is key in responding <br>effectively to your promotional needs and we will work with you to fully understand your business to achieve <br>the greatest amount of publicity possible so that you can see a return from the advertising.</p></div></div>-->

          <!--<div class="tp-caption lfb tp-resizeme"-->
          <!--data-x="left" data-hoffset="15"-->
          <!--data-y="center" data-voffset="160"-->
          <!--data-speed="1500"-->
          <!--data-start="1500"-->
          <!--data-easing="easeOutExpo"-->
          <!--data-splitin="none"-->
          <!--data-splitout="none"-->
          <!--data-elementdelay="0.01"-->
          <!--data-endelementdelay="0.3"-->
          <!--data-endspeed="1200"-->
          <!--data-endeasing="Power4.easeIn"-->
          <!--style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><div class="links"><a href="#" class="default-btn orange hvr-bounce-to-right">Plan an event</a> <a href="#" class="default-btn blue hvr-bounce-to-right">7-DAYS FREE TRIAL</a></div></div>-->

          <!--</li>-->

        </ul>

        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </section>


  <!--Features Section-->
  <section class="features-section">
    <div class="auto-container">

      <div class="sec-title wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms"><h2>Perfil Corporativo</h2>
      </div>
      <div class="sec-text wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
        <p>A lo largo de 44 años, Grupo Famsa ha desarrollado
          un sobresaliente portafolio de negocios</br> complementarios
          basados en el crédito al consumo y el ahorro.</p></div>

      <div class="row clearfix">

        <article class="col-md-4 col-sm-6 col-xs-12 post wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
          <div class="inner">
            <div class="icon"><img src="images/icons/icon-money.png" alt="" title=""></div>
            <h3>Visión</h3>

            <div class="text"><p>Consolidarnos como una de las empresas
              líderes en la comercialización de productos
              duraderos, de uso personal y servicios financieros
              especializados, en México y en el mercado
              hispano objetivo de los Estados Unidos.</p></div>
          </div>
        </article>

        <article class="col-md-4 col-sm-6 col-xs-12 post wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
          <div class="inner">
            <div class="icon"><img src="images/icons/icon-balancing.png" alt="" title=""></div>
            <h3>Misión</h3>

            <div class="text"><p>Ser la mejor opción de nuestros clientes para
              que tengan acceso a productos duraderos,
              de uso personal y servicios financieros especializados
              acorde a sus necesidades.</p></div>
          </div>
        </article>

        <article class="col-md-4 col-sm-6 col-xs-12 post wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1000ms">
          <div class="inner">
            <div class="icon"><img src="images/icons/icon-saving.png" alt="" title=""></div>
            <h3>Valores</h3>

            <div class="text"><p>Los valores que nos distinguen y que forman
              parte de nuestra empresa son: calidad, compromiso,
              confianza, orientación al cliente,
              sencillez y sentido de negocio.</p></div>
          </div>
        </article>

        <!--<article class="col-md-3 col-sm-6 col-xs-12 post wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">-->
        <!--<div class="inner">-->
        <!--<div class="icon"><img src="images/icons/icon-schedule.png" alt="" title=""></div>-->
        <!--<h3>Timeline &amp; Schedule</h3>-->
        <!--<div class="text"><p>You require a receptionist service for extended hours or to include weekends or bank holidays then we have packages that cost up to £80 and with every package.</p></div>-->
        <!--</div>-->
        <!--</article>-->

      </div>
    </div>
  </section>

  <!--Two Column Full Section-->
  <section class="two-column-full">

    <!--Column-->
    <article class="column wow rotateInDownLeft" data-wow-delay="0ms" data-wow-duration="1000ms" style="background-image:url(images/resource/image-1.jpg);">
      <div class="link"><a href="#" class="default-btn orange hvr-bounce-to-left">Ver en detalles</a></div>
      <h4><a href="#">Quíenes somos <span class="arrow">&rarr;</span></a></h4>

      <div class="text">
        <p>Fundada en la década de los 70 en Monterrey, Nuevo León, Grupo Famsa se ha consolidado como una empresa
          pública con una sólida presencia en el sector minorista, enfocada a satisfacer diversas necesidades de
          consumo, financiamiento y ahorro de las familias.</p></div>
    </article>

    <!--Column-->
    <article class="column wow rotateInDownRight" data-wow-delay="0ms" data-wow-duration="1000ms" style="background-image:url(images/resource/image-2.jpg);">
      <div class="link"><a href="#" class="default-btn blue hvr-bounce-to-left">Ver en detalles</a></div>
      <h4><a href="#">Prácticas de gobierno Corporativo<span class="arrow">&rarr;</span></a></h4>

      <div class="text">
        <p>El buen desempeño de Grupo Famsa está respaldado por prácticas de buen Gobierno Corporativo apegadas al
          “Código de Mejores Prácticas Corporativas” sugerido por la Bolsa Mexicana de Valores y la Comisión Nacional
          Bancaria y de Valores.</p></div>
    </article>

    <div class="clearfix"></div>
  </section>


  <!--Schedule Section-->
  <section class="schedule-section">
    <div class="auto-container">

      <div class="row clearfix">

        <div class="col-md-8 col-sm-12 col-xs-12">
          <div class="sec-title wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
            <h2>Check our business schedule</h2></div>
          <div class="sec-text wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
            <p>We will create a unique and visually pleasing logo to reflect your overall brand to be used in all areas
              of your marketing.</p></div>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12 text-right wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1000ms">
          <a href="#" class="download-btn theme-btn"><span class="fa fa-file-pdf-o"></span> DOWNLOAD .PDF schedule</a>
        </div>

      </div>

      <!--Schedule Box-->
      <div class="schedule-box clearfix wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">

        <!--Tab Buttons-->
        <ul class="tab-buttons clearfix">
          <li class="tab-btn active" data-id="#monday">
            <span class="day">Monday</span><span class="date">12/05/2015</span><span class="curve"></span></li>
          <li class="tab-btn" data-id="#tuesday">
            <span class="day">Tuesday</span><span class="date">13/05/2015</span><span class="curve"></span></li>
          <li class="tab-btn" data-id="#wednesday">
            <span class="day">Wednesday</span><span class="date">14/05/2015</span><span class="curve"></span></li>
          <li class="tab-btn" data-id="#thursday">
            <span class="day">Thursday</span><span class="date">15/05/2015</span><span class="curve"></span></li>
          <li class="tab-btn" data-id="#friday">
            <span class="day">Friday</span><span class="date">16/05/2015</span><span class="curve"></span></li>
          <li class="tab-btn" data-id="#saturday">
            <span class="day">Saturday</span><span class="date">17/05/2015</span><span class="curve"></span></li>
        </ul>

        <!--Tabs Box-->
        <div class="tabs-box">

          <!--Tab / Current / Monday-->
          <div class="tab current" id="monday">

            <div class="hour-box active-box">
              <div class="hour">10:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn active"><h3>Adobe Photoshop beginner course</h3></div>
              <div class="content-box collapsed">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">12:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>The latest design standarts for web</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">02:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>How to create vectors with Adobe Illustrator</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">04:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Build awesome templates with Adobe Photoshop</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">06:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Presentation professional wordpress developers</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Tab / Tuesday-->
          <div class="tab" id="tuesday">

            <div class="hour-box active-box">
              <div class="hour">10:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn active"><h3>Adobe Photoshop beginner course</h3></div>
              <div class="content-box collapsed">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">12:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>The latest design standarts for web</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">02:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>How to create vectors with Adobe Illustrator</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">04:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Build awesome templates with Adobe Photoshop</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">06:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Presentation professional wordpress developers</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Tab / Wednesday-->
          <div class="tab" id="wednesday">

            <div class="hour-box active-box">
              <div class="hour">10:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn active"><h3>Adobe Photoshop beginner course</h3></div>
              <div class="content-box collapsed">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">12:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>The latest design standarts for web</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">02:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>How to create vectors with Adobe Illustrator</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">04:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Build awesome templates with Adobe Photoshop</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">06:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Presentation professional wordpress developers</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Tab / Thursday-->
          <div class="tab" id="thursday">

            <div class="hour-box active-box">
              <div class="hour">10:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn active"><h3>Adobe Photoshop beginner course</h3></div>
              <div class="content-box collapsed">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">12:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>The latest design standarts for web</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">02:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>How to create vectors with Adobe Illustrator</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">04:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Build awesome templates with Adobe Photoshop</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">06:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Presentation professional wordpress developers</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Tab / Friday-->
          <div class="tab" id="friday">

            <div class="hour-box active-box">
              <div class="hour">10:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn active"><h3>Adobe Photoshop beginner course</h3></div>
              <div class="content-box collapsed">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">12:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>The latest design standarts for web</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">02:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>How to create vectors with Adobe Illustrator</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">04:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Build awesome templates with Adobe Photoshop</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">06:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Presentation professional wordpress developers</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!--Tab / Saturday-->
          <div class="tab" id="saturday">

            <div class="hour-box active-box">
              <div class="hour">10:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn active"><h3>Adobe Photoshop beginner course</h3></div>
              <div class="content-box collapsed">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">12:00 AM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>The latest design standarts for web</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">02:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>How to create vectors with Adobe Illustrator</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">04:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Build awesome templates with Adobe Photoshop</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="hour-box">
              <div class="hour">06:00 PM</div>
              <div class="img-circle circle"><span></span></div>
              <div class="toggle-btn"><h3>Presentation professional wordpress developers</h3></div>
              <div class="content-box">
                <div class="content">
                  <p>Our most popular service is our Virtual Receptionist. We know that sometimes it’s difficult to get
                    to the phone if you are in the middle of something and you don’t want to miss that important call
                    that could be the start of an exciting new business opportunity, so let us answer it for you. </p>
                </div>
                <br>

                <div class="row professional clearfix">
                  <div class="col-md-6 col-sm-6 col-xs-12 info">
                    <figure class="img-circle image">
                      <img class="img-circle" src="images/resource/testi-thumb-1.jpg" alt=""></figure>
                    <h5 class="prof-title">Laurence Francis</h5>
                    <h6 class="prof-occup">Speaker</h6>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12 text-right">

                    <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right dull">10:00 - 12:00</a>
                    <a href="single-event.html" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>DETAILS
                      ABOUT THE EVENT</a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <!--Tabs Box End-->

      </div>
      <!--Schedule Box End-->
    </div>
  </section>

  <!--Latest Events-->
  <section class="latest-posts" style="background-image:url(/images/background/texture-1.jpg);">
    <div class="texture-layer" style="background-image:url(/images/background/texture-map.png);"></div>

    <div class="auto-container">
      <div class="sec-title wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms"><h2>Cifras Relevantes</h2>
      </div>

      <div class="row clearfix">

        <!--Post-->
        <article class="col-lg-3 col-md-4 col-sm-6 col-xs-12 post wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
          <div class="inner">
            <div class="upper">
              <header class="post-title"><h3><a href="#">Ventas Netas</a></h3></header>
              <div class="desc">
                <div class="text">Grupo Famsa registró un aumento de 13.5% en sus Ventas Totales
                  consolidadas durante el cuarto trimestre de 2015
                </div>
                <a href="#" class="more hvr-bounce-to-right"><span class="fa fa-play"></span></a>

                <!--<div class="info">23 March, 2015 / 213 participants</div>-->
              </div>
            </div>
            <figure class="post-image">
              <img src="/images/resource/ventas-netas.png" alt="" title="">

              <div class="overlay">
                <div class="overlay-content">
                  <p><a href="#" class="theme-btn btn-style-one hvr-bounce-to-right">Ver en detalles</a>
                  </p></div>
              </div>
            </figure>
          </div>
        </article>
        <!--Post-->
        <article class="col-lg-3 col-md-4 col-sm-6 col-xs-12 post wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
          <div class="inner">
            <div class="upper">
              <header class="post-title"><h3><a href="#">Cuentas Activas</a></h3></header>
              <div class="desc">
                <div class="text">Los depósitos presentaron un firme desempeño al cierre de diciembre de
                  2015, alcanzando Ps.18,359 millones, creciendo 24.5% vs. 2014
                </div>
                <a href="#" class="more hvr-bounce-to-right"><span class="fa fa-play"></span></a>

                <!--<div class="info">23 March, 2015 / 213 participants</div>-->
              </div>
            </div>
            <figure class="post-image">
              <img src="/images/resource/cuentas-activas.png" alt="" title="">

              <div class="overlay">
                <div class="overlay-content">
                  <p><a href="#" class="theme-btn btn-style-one hvr-bounce-to-right">Ver en detalles</a>
                  </p></div>
              </div>
            </figure>
          </div>
        </article>
        <!--Post-->
        <article class="col-lg-3 col-md-4 col-sm-6 col-xs-12 post wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
          <div class="inner">
            <div class="upper">
              <header class="post-title"><h3><a href="#">Tiendas</a></h3></header>
              <div class="desc">
                <div class="text">Durante el cuarto trimestre de 2015 ejecutamos el lanzamiento de campañas publicitarias dirigidas a
                  fomentar una mayor...
                </div>
                <a href="#" class="more hvr-bounce-to-right"><span class="fa fa-play"></span></a>

                <!--<div class="info">23 March, 2015 / 213 participants</div>-->
              </div>
            </div>
            <figure class="post-image">
              <img src="/images/resource/tiendas-activas.png" alt="" title="">

              <div class="overlay">
                <div class="overlay-content">
                  <p><a href="#" class="theme-btn btn-style-one hvr-bounce-to-right">Ver en detalles</a>
                  </p></div>
              </div>
            </figure>
          </div>
        </article>
        <!--Post-->
        <article class="col-lg-3 col-md-4 col-sm-6 col-xs-12 post wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1000ms">
          <div class="inner">
            <div class="upper">
              <header class="post-title"><h3><a href="#">Piso de Ventas</a></h3></header>
              <div class="desc">
                <div class="text"> Durante el segundo semestre del año se fortaleció la tendencia de
                  crecimiento de la venta de bienes duraderos</div>
                <a href="#" class="more hvr-bounce-to-right"><span class="fa fa-play"></span></a>
                <br>

                <!--<div class="info">23 March, 2015 / 213 participants</div>-->
              </div>
            </div>
            <figure class="post-image">
              <img src="/images/resource/piso-de-ventas.png" alt="" title="">

              <div class="overlay">
                <div class="overlay-content">
                  <p><a href="#" class="theme-btn btn-style-one hvr-bounce-to-right">Ver en detalles</a>
                  </p></div>
              </div>
            </figure>
          </div>
        </article>

      </div>

    </div>

  </section>

  <!--Feaature Listing-->
  <section class="feature-listing">
    <div class="auto-container">
      <div class="row clearfix">

        <!--Image Side-->
        <div class="col-md-5 col-sm-5 col-xs-12 pull-left image-side wow bounceInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
          <figure><img src="images/resource/mac-mockup.png" alt="" title=""></figure>
        </div>

        <!--Content Side-->
        <div class="col-md-7 col-sm-7 col-xs-12 pull-right content-side">
          <div class="sec-title wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
            <h2>Análisis de la Administración</h2></div>
          <div class="sec-text wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
            <p>Análisis y comentarios de la Administración sobre los resultados de operación y situación financiera</p></div>

          <div class="check-listing listing">
            <ul class="col-md-6">
              <li class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="500ms">Ventas Netas
              </li>
              <li class="wow fadeInUp" data-wow-delay="100ms" data-wow-duration="500ms">Costo de Ventas y Utilidad Bruta
              </li>
              <li class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="500ms">WGastos de Operación
              </li>
              <li class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="500ms">Utilidad de Operación
              </li>
              <li class="wow fadeInUp" data-wow-delay="400ms" data-wow-duration="500ms">Resultado Financiero, Neto
              </li>
            </ul>
            <ul class="col-md-6">
              <li class="wow fadeInUp" data-wow-delay="0ms" data-wow-duration="500ms">Clientes
              </li>
              <li class="wow fadeInUp" data-wow-delay="100ms" data-wow-duration="500ms">Inventario
              </li>
              <li class="wow fadeInUp" data-wow-delay="200ms" data-wow-duration="500ms">Captación Bancaria y Deuda Neta
              </li>
              <li class="wow fadeInUp" data-wow-delay="300ms" data-wow-duration="500ms">Capital Contable
              </li>
            </ul>
            <br>
            <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>Ver en detalles</a>
          </div>

        </div>

      </div>
    </div>
  </section>

  <!--Our Team-->
  <!--<section class="team-section">-->
  <!--<div class="auto-container">-->

  <!--<div class="sec-title wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms"><h2>Meet our speakers</h2></div>-->

  <!--<div class="row clearfix">-->
  <!--&lt;!&ndash;Team Member&ndash;&gt;-->
  <!--<article class="col-lg-3 col-md-4 col-sm-6 col-xs-12 team-member wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">-->
  <!--<div class="inner">-->
  <!--<div class="social-links">-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-facebook-f"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-twitter"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-google-plus"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-linkedin"></span></a>-->
  <!--</div>-->
  <!--<figure class="member-image"><img src="images/resource/team-image-1.jpg" alt="" title=""></figure>-->
  <!--<div class="lower">-->
  <!--<div class="member-title">-->
  <!--<h5>Jonathan Franco</h5>-->
  <!--<span class="occupation">Public Speaker</span>-->
  <!--</div>-->
  <!--<div class="desc"><p>Using the outcomes from the Company Analysis, we will put together a plan.</p></div>-->

  <!--<div class="text-right"><a class="read-more" href="single-speakers.html">View Profile</a></div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</article>-->
  <!--&lt;!&ndash;Team Member&ndash;&gt;-->
  <!--<article class="col-lg-3 col-md-4 col-sm-6 col-xs-12 team-member wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">-->
  <!--<div class="inner">-->
  <!--<div class="social-links">-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-facebook-f"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-twitter"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-google-plus"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-linkedin"></span></a>-->
  <!--</div>-->
  <!--<figure class="member-image"><img src="images/resource/team-image-2.jpg" alt="" title=""></figure>-->
  <!--<div class="lower">-->
  <!--<div class="member-title">-->
  <!--<h5>Jack Hemswire</h5>-->
  <!--<span class="occupation">Business Speaker</span>-->
  <!--</div>-->
  <!--<div class="desc"><p>For more information on all of our services please take a look at the Services page of our website.</p></div>-->
  <!--<div class="text-right"><a class="read-more" href="single-speakers.html">View Profile</a></div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</article>-->
  <!--&lt;!&ndash;Team Member&ndash;&gt;-->
  <!--<article class="col-lg-3 col-md-4 col-sm-6 col-xs-12 team-member wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1500ms">-->
  <!--<div class="inner">-->
  <!--<div class="social-links">-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-facebook-f"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-twitter"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-google-plus"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-linkedin"></span></a>-->
  <!--</div>-->
  <!--<figure class="member-image"><img src="images/resource/team-image-3.jpg" alt="" title=""></figure>-->
  <!--<div class="lower">-->
  <!--<div class="member-title">-->
  <!--<h5>Susanne Grining</h5>-->
  <!--<span class="occupation">Dolmatcher</span>-->
  <!--</div>-->
  <!--<div class="desc"><p>Whatever the level of support you require, we are sure that we will have a package that meets your needs.</p></div>-->
  <!--<div class="text-right"><a class="read-more" href="single-speakers.html">View Profile</a></div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</article>-->
  <!--&lt;!&ndash;Team Member&ndash;&gt;-->
  <!--<article class="col-lg-3 col-md-4 col-sm-6 col-xs-12 team-member wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">-->
  <!--<div class="inner">-->
  <!--<div class="social-links">-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-facebook-f"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-twitter"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-google-plus"></span></a>-->
  <!--<a class="hvr-bounce-to-top" href="#"><span class="fa fa-linkedin"></span></a>-->
  <!--</div>-->
  <!--<figure class="member-image"><img src="images/resource/team-image-4.jpg" alt="" title=""></figure>-->
  <!--<div class="lower">-->
  <!--<div class="member-title">-->
  <!--<h5>Franklin Owein</h5>-->
  <!--<span class="occupation">Speech Trainer</span>-->
  <!--</div>-->
  <!--<div class="desc"><p>If you run a business and want a professional first point of contact or just need a hand.</p></div>-->

  <!--<div class="text-right"><a class="read-more" href="single-speakers.html">View Profile</a></div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</article>-->

  <!--</div>-->

  <!--</div>-->
  <!--</section>-->

  <!--Price Plans-->
  <section class="price-plans">
    <div class="auto-container">

      <div class="sec-title wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
        <h2>Responsabilidad Social</h2></div>
      <div class="sec-text wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1000ms">
        <p>Cosiderando el bienestar de nuestros colaboradores y de nuestra comunidad.</p></div>


      <div class="row clearfix">

        <!--Table Column-->
        <article class="col-md-6 col-sm-6 col-xs-12 table-column wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="table-inner hvr-sweep-to-bottom">
            <div class="clearfix">
              <div class="col-md-6 col-sm-12 col-xs-12 half-column price">
                <!--<h4 class="amount"><sup>$</sup>29</h4>-->

                <p>SEGUIMOS APOYANDO CON MÁS BECAS
                  Y MÁS ASISTENCIA SOCIAL.
                </p>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 half-column list">
                <h3>This includes:</h3>
                <ul>
                  <li>Lorem ipsum dolor </li>
                  <li>Lorem ipsum dolor </li>
                  <li>Lorem ipsum dolor </li>
                </ul>
              </div>
            </div>

            <a href="#" class="read-more hvr-bounce-to-right"><span class="fa fa-play"></span></a>
          </div>
        </article>

        <!--Table Column-->
        <article class="col-md-6 col-sm-6 col-xs-12 table-column recommended wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
          <div class="table-inner hvr-sweep-to-bottom">
            <div class="clearfix">
              <div class="col-md-6 col-sm-12 col-xs-12 half-column price">
                <!--<h4 class="amount"><sup>$</sup>59</h4>-->

                <p>EN 2014 AVANZAMOS EN LA CONSTRUCCIÓN DE UN ENTORNO LABORAL MÁS SEGURO</p>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 half-column list">
                <h3>This includes:</h3>
                <ul>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                </ul>
              </div>
            </div>

            <a href="#" class="read-more hvr-bounce-to-right"><span class="fa fa-play"></span></a>
          </div>
        </article>

        <!--Table Column-->
        <article class="col-md-6 col-sm-6 col-xs-12 table-column wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
          <div class="table-inner hvr-sweep-to-bottom">
            <div class="clearfix">
              <div class="col-md-6 col-sm-12 col-xs-12 half-column price">
                <!--<h4 class="amount"><sup>$</sup>69</h4>-->

                <p>MÁS ACCIONES PREVENTIVAS PARA GARANTIZAR LA SEGURIDAD DEL PERSONAL</p>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 half-column list">
                <h3>This includes:</h3>
                <ul>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                </ul>
              </div>
            </div>

            <a href="#" class="read-more hvr-bounce-to-right"><span class="fa fa-play"></span></a>
          </div>
        </article>

        <!--Table Column-->
        <article class="col-md-6 col-sm-6 col-xs-12 table-column wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1500ms">
          <div class="table-inner hvr-sweep-to-bottom">
            <div class="clearfix">
              <div class="col-md-6 col-sm-12 col-xs-12 half-column price">
                <!--<h4 class="amount"><sup>$</sup>99</h4>-->

                <p>MÁS BENEFICIOS A NUESTROS EMPLEADOS: 166.5% MÁS CAPACITACIONES</p>
              </div>
              <div class="col-md-6 col-sm-12 col-xs-12 half-column list">
                <h3>This includes:</h3>
                <ul>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                  <li>Lorem ipsum dolor</li>
                </ul>
              </div>
            </div>

            <a href="#" class="read-more hvr-bounce-to-right"><span class="fa fa-play"></span></a>
          </div>
        </article>

      </div>

    </div>
  </section>

  <!--Intro Section-->
  <section class="intro-section" style="background-image:url(images/parallax/image-1.jpg);">
    <div class="auto-container">
      <div class="row clearfix">
        <div class="col-md-8 col-sm-8 col-xs-12 text-content">


          <div class="text">
            <div class="col-md-3"><img style="width: 100%" src="/images/resource/demo-9.png" alt=""/></div><div class="col-md-9">
            <h2>¿Deséa leer el reporte anual <br/> completo?</h2>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-right">
          <a href="#" class="theme-btn btn-style-one hvr-bounce-to-right"><span class="fa fa-play"></span>Reporte anual 2015</a>
        </div>
      </div>
    </div>
  </section>

  <!--Main Footer-->
  <%= erb :"global/bloques/footer" %>

</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<%= erb :"global/bloques/scroll" %>

<!--javascripts-->
<%= erb :"global/bloques/javascript" %>
</body>
</html>
